{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "shop/style.css" %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">


        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col">
                            <input type="search" name="item_name" placeholder="Search for products" class="form-control form-control-borderless">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{product.image}}" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            {{ product.title }}
                        </div>
                        <div class="card-text">
                            $ {{ product.price }}
                        </div>
                        <a href="{{product.id}}" class="btn btn-warning">View</a>
                        <button id="{{product.id}}" class="btn atc btn-warning">Add to cart</button>
                    </div> 
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{products.previous_page_number}}">Previous</a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link">{{products.number}}</a>
                    </li>

                    {% if products.has_next %}
                        <a class="page-link" href="?page={{products.next_page_number}}">Next</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <script>
        let cart;
        if(localStorage.getItem('cart') == null){
            cart = {};
        }else{
            cart = JSON.parse(localStorage.getItem('cart'));
        }

        $(document).on('click', '.atc', function(){
            let item_id = this.id.toString();

            if(cart[item_id]!=undefined){
                cart[item_id] = cart[item_id] + 1;
            }else{
                cart[item_id] = 1;
            }
            console.log(cart);
            localStorage.setItem('cart',  JSON.stringify(cart))
        });
    </script>
</body>
</html>